/* remove default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}

.section-title {
    font-size: 48px;
    color: var(--primary-color);
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 100%;
    border-bottom: 3px solid;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

/* apply styles to <header> */
header {
    background-image: url("../images/IMG_0028.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36.px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* apply styles to <body> */
body {    
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/IMG_0028.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    color: var(--secondary-color);
}
/* Hero Style End */

.intro {
    background-color: var(--secondary-color);
}

.intro h2 {
    text-align: left;
}

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

.work {
    background-color: var(--secondary-color);
    flex-wrap: wrap;    
}

.work-projects {
    margin: 20px;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
    flex-wrap: wrap;
}

.work-projects img {
    width: 50%;
    flex: 1;
    justify-content: left;
}

.project-link h3, .project-link p, .project-link a {
    width: 100%;
}

/* contact me style start */
.contact {
    background-color: var(--secondary-color);
}

.contact h2 {
    color: var(--primary-color);
}

.contact-info > * {
    flex:1;
    margin: 15px;
}

.contact-details {
    justify-content: space-evenly;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: var(--primary-color);
}
/* contact me styles end */

.resume {
    background-color: var(--secondary-color);
}

.resume > * {
    flex:1;
    margin: 15px;
    flex-wrap: wrap;
}

.resume-doc a{
    display: flex;
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    position: relative;
}    

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
}

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}